<div class="container-fluid">
  <div style="font-size: x-large; font-family: 'Candara'; font-weight:bolder; color: darkcyan">Vue Admin - Liste des
    Utilisateurs :
  </div>
  <br>
  <!--liste des personnes (utilisateurs en vue administrateur)-->
  <table class="table table-bordered table-striped text-lg-left">
    <thead>
    <tr style="text-justify: auto">
      <th>Nom</th>
      <th>Prénom</th>
      <th>Téléphone</th>
      <th>Note Globale</th>
      <th>Compétences</th>
      <th>
        <select (change)="filtreskeelz()" class="form-control select3" [(ngModel)]="idSkeelz">
          <option [ngValue]="null" selected="selected">Skeelz</option>
          <option *ngFor="let ske of chargeskeelzs()" value="{{ske.id}}">{{ske.intitule}}</option>
        </select>
      </th>
      <th>Détail</th>
      <th>Droits d'accès</th>
    </tr>
    </thead>
    <tbody *ngIf="idSkeelz == null">
    <tr *ngFor="let pers  of list()">
      <td>{{pers.nom | uppercase}}</td>
      <td>{{pers.prenom}}</td>
      <td>{{pers.telephone}}</td>
      <td>{{pers.noteGlobal}}</td>
      <td *ngIf="pers.competences" style="font-size: x-small">
        <a *ngFor="let comp of pers.competences">{{comp.intitule}}</a>
      </td>
      <td *ngIf="!pers.competences"></td>
      <td *ngIf="pers.skeelzs" style="font-size: x-small">
        <a *ngFor="let skee of pers.skeelzs">{{skee.intitule}}</a>
      </td>
      <td *ngIf="!pers.competences"></td>
      <td style="font-size: xx-small">Fiche profil</td>
      <td style="font-size: x-small"><a *ngIf="pers.utilisateur.rh==true">manager RH,</a>
        <a *ngIf="pers.utilisateur.administrateur==true"> administrateur,</a>
        <!--        <a *ngIf="pers.utilisateur.superUser==true"> Super Admin</a> -->
      </td>
    </tr>
    </tbody>

    <tbody *ngIf="idSkeelz != null">
    <tr *ngFor="let pers  of this.personneSkeelz">
      <td>{{pers.nom | uppercase}}</td>
      <td>{{pers.prenom}}</td>
      <td>{{pers.telephone}}</td>
      <td>{{pers.noteGlobal}}</td>
      <td *ngIf="pers.competences" style="font-size: x-small">
        <a *ngFor="let comp of pers.competences">{{comp.intitule}}</a>
      </td>
      <td *ngIf="!pers.competences"></td>
      <td *ngIf="pers.skeelzs" style="font-size: x-small">
        <a *ngFor="let skee of pers.skeelzs">{{skee.intitule}}</a>
      </td>
      <td *ngIf="!pers.competences"></td>
      <td style="font-size: xx-small" class="nav-link">Fiche profil</td>
      <td style="font-size: x-small"><a *ngIf="pers.utilisateur.rh==true">manager RH,</a>
        <a *ngIf="pers.utilisateur.administrateur==true"> administrateur,</a>
        <!--        <a *ngIf="pers.utilisateur.superUser==true"> Super Admin</a> -->
      </td>
    </tr>
    </tbody>
  </table>
  <button id="userAdd" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal2" style="margin-bottom: 20px">+ Ajouter un Utilisateur</button>

<!--   Modal Création new Personne-->
  <div class="modal fade" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Ajouter un nouvel utilisateur</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <a>Informations personnelles:</a>
          <hr>
          <input type="text" class="form-control-sm" placeholder="Nom" [(ngModel)]="newpersonne.nom"><br>
          <input type="text" class="form-control-sm" placeholder="Prénom" [(ngModel)]="newpersonne.prenom"><br>
          <input type="text" class="form-control-sm" placeholder="Téléphone" [(ngModel)]="newpersonne.telephone"><br>
          <br>
          <a>Informations relatives au compte</a>
          <hr>
          <input type="text" class="form-control-sm" placeholder="Email" [(ngModel)]="newutilisateur.mail"><br>
          <input type="text" class="form-control-sm" placeholder="identifiant" [(ngModel)]="newutilisateur.identifiant"><br>
          <input type="text" class="form-control-sm" placeholder="mot de passe initial" [(ngModel)]="newutilisateur.password"><br>
          <hr>
          <label class="form-check-label">Entreprise:
          <select class="form-control-sm" id="entrprise">
            <option [ngValue]="null">choisir</option>
            <option *ngFor="let ent of listentreprise" [(ngModel)]="newutilisateur.entreprise">{{ent.nom}}</option>
          </select></label>
          <hr>
            <br>
          <a>Droits d'accès</a><br>
          <hr>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="newutilisateur.administrateur">Administrateur
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="newutilisateur.rh">Manager RH
            </label>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="btn-group-sm">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="savepersonne()">Enregistrer
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


