<div class="container-fluid">
  <div style="font-size: x-large; font-family: 'Candara'; font-weight:bolder; color: darkcyan">Vue Admin - Liste des
    Utilisateurs :
  </div>
  <div class="dropdown">
    <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" >Filtrer par Compétence
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <option *ngFor="let comp of chargeCompetences()" >{{comp.intitule}}</option>
    </ul>
  </div>

  <br>
  <!--liste des personnes (utilisateurs en vue administrateur)-->
  <table class="table table-bordered table-striped text-lg-left">
    <thead>
    <tr style="text-justify: auto">
      <th>Nom</th>
      <th>Prénom</th>
      <th>Téléphone</th>
      <th>Note Globale</th>
      <th>Compétences</th>
      <th>Détail</th>
      <th>Droits d'accès</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pers  of list()" [routerLink]="['/admin-user-list']">
      <td>{{pers.nom | uppercase}}</td>
      <td>{{pers.prenom}}</td>
      <td>{{pers.telephone}}</td>
      <td>{{pers.noteGlobal}}</td>
      <td *ngIf="pers.competences" style="font-size: x-small">
        <a *ngFor="let comp of pers.competences">{{comp.intitule}}</a>
      </td>
      <td *ngIf="!pers.competences"></td>
      <td style="font-size: xx-small" class="nav-link">Fiche profil</td>
      <td style="font-size: x-small"><a *ngIf="pers.utilisateur.rh==true">manager RH,</a>
        <a *ngIf="pers.utilisateur.administrateur==true"> administrateur,</a>
        <!--        <a *ngIf="pers.utilisateur.superUser==true"> Super Admin</a> -->
      </td>
    </tr>

    </tbody>
  </table>

</div>

