<div class="container-fluid">
<div style="font-size: x-large; font-family: 'Candara'; font-weight:bolder; color: darkcyan">Cours en attente de validation:
</div>
  <br>
<table class="table table-bordered table-striped text-lg-left">
  <thead>
  <tr style="text-justify: auto">
    <th>Intitulé</th>
    <th>Description</th>
    <th>Difficulté</th>
    <th>Durée</th>
    <th>Validation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cour  of this.list()">
    <td [routerLink]="['/editionCours/' + cour.id]">{{cour.intitule}}</td>
    <td>{{cour.description}}</td>
    <td>{{cour.difficulte}}</td>
    <td>{{cour.duree}}h</td>
    <td style="width: fit-content">
    <div class="btn-group-vertical button-group-sm">
      <button type="button" class="btn btn-success" (click)="valider(cour.id)">Valider</button>
      <button type="button" class="btn btn-danger" (click)="decliner(cour.id)">Décliner</button>
    </div>
    </td>
  </tr>
  <tr *ngIf="aucun == true">
    <td colspan="5"><h3 class="text-success">Vous n'avez aucun cours en attente de validation pour le moment.</h3></td>
  </tr>
  </tbody>
</table>

</div>


