<div>
  <div class="form-inline" style="width: 100%">
    <div style="margin-top: 10px" style="width: 20%; font-weight: bolder; font-size: x-large"> Rédiger un cours -</div>
    <div class="form-group" style="margin: 0px; width:40%">
      <textarea [(ngModel)]="cours.intitule" class="form-control textarea" rows="1" style="width: 100%; font-weight: bolder; font-size: larger; text-decoration: underline; resize: none" id="nom" placeholder="Intitulé du cours"></textarea>
    </div>
    <div><i class="fa fa-clock-o" aria-hidden="true"></i></div>
    <div class="form-inline" style="margin: 0px; width:20%">
      <input [(ngModel)]="cours.duree" style="margin: 10px; width:100%" class="form-control textarea" type="number"  id="prenom" placeholder="Durée du cours (en heures)">
    </div>
    <div><i class="fa fa-line-chart" aria-hidden="true"></i></div>
    <div class="form-group" style="margin: 0px ; width:15%">
      <select class="form-control textarea" id="niveauEtude"  [(ngModel)]="cours.difficulte">
        <option value="" disabled>Difficulté</option>
        <option value="FACILE">Facile</option>
        <option value="MOYEN">Moyen</option>
        <option value="DIFFICILE">Difficile</option>
      </select>
    </div>


  </div>

  <br>
  <br>
  <br>

  <div class="card-body">

    <div class="form-group">
      <label for="desc"><b>Description du cours: </b></label>
      <textarea id="desc"[(ngModel)]="cours.description" type="text" class="form-control textarea" placeholder="Description du cours"></textarea>
    </div>

        <div>
          <div *ngIf="!idCours"class="btn-group btn-group-lg float-right">
            <a class="btn btn-outline-success" >
              <i class="fa fa-check green" (click)="save(cours)" style="color: green"> Enregistrer</i>
            </a>
          </div>
        </div>
</div>
    </div>

