<div>
  <div class="form-inline" style="width: 120%">
    <h3 style="margin-top: 10px" style="width: 30%"> Rédiger un cours -</h3>
    <div class="form-group" style="margin: 10px">
      <input [(ngModel)]="cours.intitule" class="form-control" type="text" id="nom" placeholder="Intitulé du cours">
    </div>
    <div class="form-group" style="margin: 10px">
      <input [(ngModel)]="cours.duree" class="form-control" type="number"  id="prenom" placeholder="Durée du cours (en heures)">
    </div>
    <div class="form-group" style="margin: 10px">
      <select class="form-control" id="niveauEtude"  [(ngModel)]="cours.difficulte" >
        <option value="" disabled>Difficulté</option>
        <option value="FACILE">Facile</option>
        <option value="MOYEN">Moyen</option>
        <option value="DIFFICILE">Difficile</option>
      </select>
    </div>
  </div>


  <div class="card-body">

    <div class="form-group">
      <input [(ngModel)]="cours.description" type="text" class="form-control" placeholder="Description du cours">
    </div>

        <div>
          <div *ngIf="!idCours"class="btn-group btn-group-lg float-right">
            <a class="btn btn-success" >
              <i class="fa fa-check" (click)="save(cours)"> Enregistrer</i>
            </a>
          </div>
        </div>
    <div *ngIf="idCours" class="btn-group btn-group-lg float-right">
      <a class="btn btn-success" >
        <i class="fa fa-check" [routerLink]="['/editionCours/'+idCours]"> Continuer</i>
      </a>
    </div>
</div>
    </div>

