<br>
<br>
<br>
<!--Bouton point de vue Rh {NGIF RH =TRUE} !!!!!-->
<div class="btn-group" *ngIf="currentPersonne.utilisateur.rh">
  <button type="button" class="btn btn-primary" (click)="boutonMesCoursComp()">Mes cours et compétences</button>
  <button type="button" class="btn btn-primary" (click)="Boutonemployes()">Les compétences des employés</button>
</div>
<!--Table liste utilisateur-->
<table class="table table-bordered table-striped text-lg-left" *ngIf="boutonMesemployes==true">
  <thead>
  <tr style="text-justify: auto">
    <th>Nom</th>
    <th>Prénom</th>
    <th>Téléphone</th>
    <th>Note Globale</th>
<!--    <th>Mail</th>-->
    <th>Compétences</th>
    <th>
      <select (change)="filtreskeelz()" class="form-control select3" [(ngModel)]="idSkeelz" style="width: auto">
        <option [ngValue]="null" selected>Skeelz</option>
        <option *ngFor="let ske of chargeskeelzs()" value="{{ske.id}}">{{ske.intitule}}</option>
      </select>
    </th>
  </tr>
  </thead>
  <tbody *ngIf="idSkeelz == null">
  <tr *ngFor="let pers  of list()">

    <td>{{pers.nom | uppercase}}</td>
    <td>{{pers.prenom}}</td>
    <td>{{pers.telephone}}</td>
    <td>{{pers.noteGlobal}}</td>
<!--    <td style="font-size: xx-small">{{pers.utilisateur.mail}}</td>-->
    <td *ngIf="pers.competences" style="font-size: 14px">
      <a *ngFor="let comp of pers.competences">{{comp.intitule}}</a>
    </td>
    <td *ngIf="!pers.competences"></td>
    <td *ngIf="pers.skeelzs" style="font-size: 14px">
      <a *ngFor="let skee of pers.skeelzs">{{skee.intitule}}</a>
    </td>
    <td *ngIf="!pers.competences"></td>

  </tr>
  </tbody>

  <tbody *ngIf="idSkeelz != null">
  <tr *ngFor="let pers  of this.personneSkeelz">
    <td>{{pers.nom | uppercase}}</td>
    <td>{{pers.prenom}}</td>
    <td>{{pers.telephone}}</td>
    <td>{{pers.noteGlobal}}</td>
    <td *ngIf="pers.competences" style="font-size: 14px">
      <a *ngFor="let comp of pers.competences">{{comp.intitule}}</a>
    </td>
    <td *ngIf="!pers.competences"></td>
    <td *ngIf="pers.skeelzs" style="font-size: 14px">
      <a *ngFor="let skee of pers.skeelzs">{{skee.intitule}}</a>
    </td>
    <td *ngIf="!pers.competences"></td>

  </tr>
  </tbody>
</table>






















<br>
<br>
<br>
<!--Table Cours-->
<table class="table table-striped" *ngIf="boutonMesCoursCompRH==true">
  <thead>
  <tr>
    <th>Cours suivi</th>
    <th> </th>
    <th> </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cour  of  this.coursSuivie" (click)="introCours(cour.id)"  class="ligne">
    <td>{{cour.intitule}}</td>
    <td><i class="fa fa-clock-o" aria-hidden="true">     {{cour.duree}}  Heures</i></td>
    <td><i class="fa fa-line-chart" aria-hidden="true">     {{cour.difficulte}}</i></td>
  </tr>
  </tbody>
</table>
<br>
<br>
<br>
<table class="table " *ngIf="boutonMesCoursCompRH==true">
  <thead>
  <tr>
    <th>Cours Terminé</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cour  of  this.coursTermine" (click)="introCours(cour.id)" class="ligne">
    <td>{{cour.intitule}}</td>
    <td><i class="fa fa-clock-o" aria-hidden="true">     {{cour.duree}}  Heures</i></td>
    <td><i class="fa fa-line-chart" aria-hidden="true">     {{cour.difficulte}} </i></td>
  </tr>
  </tbody>
</table>
<br>
<br>
<br>
<table class="table table-striped " *ngIf="boutonMesCoursCompRH==true">
  <thead>
  <tr>
    <th>Cours Crée</th>
    <th> </th>
    <th> </th>
    <th> </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cour  of  this.coursAdministre" (click)="editionCours(cour)"  class="ligne">
    <td>{{cour.intitule}}</td>
    <td><i class="fa fa-clock-o" aria-hidden="true">     {{cour.duree}}  Heures</i></td>
    <td><i class="fa fa-line-chart" aria-hidden="true">     {{cour.difficulte}} </i></td>
    <td>{{cour.coursPersonnes.etatCours}}</td>
  </tr>
  </tbody>
</table>
<button type="button" class="btn btn-success"  [routerLink]="['/creationCours']" *ngIf="boutonMesCoursCompRH==true">Création d'un nouveau cours</button>





<div class="positionFixeEtTaille" *ngIf="boutonMesCoursCompRH==true">
  <div class="colorPosDivprincipal .bg-info">

    <div class="PointEntour">
      <div class="PointText text-center"><b>Note global :</b></div>
      <br>
      <div class="Point text-center"><b>{{this.npteGlobal}}</b></div>
      <br>

      <div class="Point text-center" *ngIf="this.npteGlobal<=25"><b>Continuez à vous entrainer !</b> </div>
      <div class="Point text-center" *ngIf="this.npteGlobal<=50 && this.npteGlobal>25"><b>C'est bien, continuez</b></div>
      <div class="Point text-center"*ngIf="this.npteGlobal<=100 && this.npteGlobal>50"><b>Vous faites partie des meilleurs !!!</b></div>
      <div class="diventourimagesquitourne  text-center">
      <img src="../assets/img/rotativecoin.gif" class="rounded-circle " style="width: 50px; height:50px">
    </div >
      <hr style="height: 2px ">
    </div>



    <br>
    <br>
    <br>

    <div class="diventourtext">
      <div class="text-center divtext font-weight-normal"><b>Vos 3 meilleurs Skeelzs :</b></div>
    </div>
    <div class="divSkeelz">
      <div *ngIf="this.skeelznumber1!=null" class="div1">
        <div class="text-center">
          <i class="fa fa-trophy fa-2x " aria-hidden="true" style="color: gold" ></i>

        </div>
        <div class="text-center">Skeelz n°1 : <b>{{this.skeelznumber1.intitule}}</b> </div>
        <div class="text-center">Nombre des points : <b>{{this.number1}}</b> </div>
      </div>
      <div  *ngIf="this.skeelznumber2!=null" class="div2">
        <div class="text-center"><i class="fa fa-rocket  fa-2x" aria-hidden="true"  style="color: gold"></i></div>
        <div class="text-center">Skeelz n°2 : <b>{{this.skeelznumber2.intitule}}</b> </div>
        <div class="text-center">Nombre des points : <b>{{this.number2}}</b> </div>
      </div>

      <div *ngIf="this.skeelznumber3!=null"  class="div3">
        <div class="text-center"><i class="fa fa-bolt  fa-2x" aria-hidden="true"  style="color: gold"></i></div>
        <div class="text-center">Skeelz n°3 : <b>{{this.skeelznumber3.intitule}}</b> </div>
        <div class="text-center">Nombre des points : <b>{{this.number3}}</b> </div>
      </div>
    </div>
  </div>
</div>
