<br>
<br>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Cours suivie</th>
    <th> </th>
    <th> </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cour  of  this.coursSuivie" (click)="introCours(cour.id)"  class="ligne">
    <td>{{cour.intitule}}</td>
    <td><i class="fa fa-clock-o" aria-hidden="true">     {{cour.duree}}  Heures</i></td>
    <td><i class="fa fa-line-chart" aria-hidden="true">     {{cour.difficulte}}</i></td>
  </tr>
  </tbody>
</table>
<br>
<br>
<br>
<table class="table ">
  <thead>
  <tr>
    <th>Cours Termine</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cour  of  this.coursTermine" (click)="introCours(cour.id)" class="ligne">
    <td>{{cour.intitule}}</td>
    <td><i class="fa fa-clock-o" aria-hidden="true">     {{cour.duree}}  Heures</i></td>
    <td><i class="fa fa-line-chart" aria-hidden="true">     {{cour.difficulte}} </i></td>
  </tr>
  </tbody>
</table>
<br>
<br>
<br>
<table class="table table-striped ">
  <thead>
  <tr>
    <th>Cours Cree</th>
    <th> </th>
    <th> </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cour  of  this.coursAdministre" (click)="editionCours(cour.id)"  class="ligne">
    <td>{{cour.intitule}}</td>
    <td><i class="fa fa-clock-o" aria-hidden="true">     {{cour.duree}}  Heures</i></td>
    <td><i class="fa fa-line-chart" aria-hidden="true">     {{cour.difficulte}} </i></td>
  </tr>
  </tbody>
</table>

<button [routerLink]="['/dashboard/skeelz']">dashbord/skeelz</button>



