<div class="container rounded">
  <p style="font-size: x-large; font-family: 'Candara'; font-weight:bolder; color: darkcyan">Créer une nouvelle
    compétence</p>

  <input type="text" class="form-control-sm" placeholder="Intitulé" [(ngModel)]="newcomp.intitule"><br>
  <div class="form-group">
    <label for="ponderation">Pondération: </label>
    <br>
    <select class="form-control-sm" id="ponderation" [(ngModel)]="newcomp.ponderation">
      <option [ngValue]="null">choisir</option>
      <option value="CINQ">5 points</option>
      <option value="DIX">10 points</option>
      <option value="QUINZE">15 points</option>
      <option value="VINGT">20 points</option>
    </select>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" rows="3" id="description"
              placeholder="Définissez votre nouvelle compétence en quelques lignes..."
              [(ngModel)]="newcomp.description"></textarea>
  </div>
  <label>Associer à un Skeelz: </label>
  <br>

  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let ske of chargeskeelzs()">{{ske.intitule}}
      <span>
        <input type="checkbox" class="form-check-input" [(ngModel)]="ske.choisi">
      </span>
    </li>
    <li class="list-group-item">
      <button id="creer" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal">+ Créer
        nouveau Skeelz
      </button>
    </li>
  </ul>


  <!-- Modal Création new skeelz-->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Créer un nouveau Skeelz</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <input type="text" class="form-control-sm" placeholder="Intitulé" [(ngModel)]="newskeelz.intitule"><br>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="btn-group-sm">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveskeelz()">Enregistrer
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
          </div>
        </div>

      </div>
    </div>
  </div>


  <br>
  <div class="btn-group" style="margin-bottom: 50px">
    <button type="button" class="btn btn-outline-success" (click)="save()">Enregistrer</button>
    <button type="button" class="btn btn-outline-warning" (click)="reset()">Réinitialiser</button>
  </div>

</div>
