<div class="position-relative">
<div class="position-relative">
<div class="divTitre text-center">
<h2>{{currentModule.intitule}}</h2>
</div>
<br>
</div>
<div class="position-relative">
<div *ngFor="let elem of chapitre?.elementsDeCours">
  <div *ngIf="elem.type  === 'Paragraphe'">
    <div class="divEntoureTextetTitreel">
    <h2>{{elem.titre}}</h2>
    <div>{{elem.texte}}</div>
  </div>
    <br>
  </div>
</div>
</div>

<!--  <div *ngIf="elem.type  === 'ExtraitCode'">-->
<!--    <div>{{elem.contenu}}</div>-->
<!--    <div>{{elem.commentaire}}</div>-->
<!--  </div>-->
<!--  <div *ngIf="elem.type  === 'ImageCours'">-->
<!--    <div>{{elem.chemin}}</div>-->
<!--    <div>{{elem.commentaire}}</div>-->
<!--  </div>-->


<button *ngIf="!premierModule" [routerLink]="['/chapitre/', idCours, previousModule.id, 0]">Module précédent</button>
<button *ngIf="premierModule" (click)="Commencer()" [routerLink]="['/chapitre/', idCours, secondModule.id, 0]">Commencer le cours</button>
<button *ngIf="!premierChapitre" [routerLink]="['/chapitre/', idCours, idModule, (chapitre.agencement - 1)]" >Chapitre précédent</button>
<button *ngIf="premierChapitre && !premierModule" [routerLink]="['/chapitre/', idCours, previousModule.id, agencementMaxDernierChapitre]">Chapitre précédent</button>
<button *ngIf="!dernierChapitre" [routerLink]="['/chapitre/', idCours, idModule, (chapitre.agencement + 1)]" >Prochain chapitre</button>
<button *ngIf="!premierModule && dernierChapitre" [routerLink]="['/qcm/', idCours, idModule]">Accéder au QCM</button>

</div>
<!--//Sommaire-->
<div  class="positionFixeEtTaille" style="font-size: 20px;padding: 6px"><b> Sommaire</b>
  <hr>
  <div *ngFor="let module of moduleAndChap " style=" font-size: 14px;margin-bottom: 7px;margin-top: 7px"><b>{{module.intitule}} :</b>
    <div class = "indentation" style="margin-top: 3px; margin-bottom: 3px " *ngFor="let chapitre of module.chapitres" [routerLink]="['/chapitre/', idCours, module.id, chapitre.agencement]"><i class="fa fa-arrow-right" aria-hidden="true"></i>
      {{chapitre.titre}}
    </div>
  </div>
</div>
