<h1>{{currentModule.intitule}}</h1>
<br>

<div *ngFor="let elem of chapitre?.elementsDeCours">
  <div *ngIf="elem.type  === 'Paragraphe'">
    <h2>{{elem.titre}}</h2>
    <div>{{elem.texte}}</div>
    <br>
  </div>
<!--  <div *ngIf="elem.type  === 'ExtraitCode'">-->
<!--    <div>{{elem.contenu}}</div>-->
<!--    <div>{{elem.commentaire}}</div>-->
<!--  </div>-->
<!--  <div *ngIf="elem.type  === 'ImageCours'">-->
<!--    <div>{{elem.chemin}}</div>-->
<!--    <div>{{elem.commentaire}}</div>-->
<!--  </div>-->
</div>

<button type="button" class="btn btn-outline-info" *ngIf="!premierModule" [routerLink]="['/chapitre/', idCours, previousModule.id, 0]" style="margin: 10px">Module précédent</button>
<button type="button" class="btn btn-outline-success" *ngIf="premierModule" (click)="Commencer()" [routerLink]="['/chapitre/', idCours, secondModule.id, 0]"style="margin: 10px">Commencer le cours</button>
<button type="button" class="btn btn-outline-info" *ngIf="!premierChapitre" [routerLink]="['/chapitre/', idCours, idModule, (chapitre.agencement - 1)]" style="margin: 10px">Chapitre précédent</button>
<button type="button" class="btn btn-outline-info" *ngIf="premierChapitre && !premierModule" [routerLink]="['/chapitre/', idCours, previousModule.id, agencementMaxDernierChapitre]"style="margin: 10px">Chapitre précédent</button>
<button type="button" class="btn btn-outline-success" *ngIf="!dernierChapitre" [routerLink]="['/chapitre/', idCours, idModule, (chapitre.agencement + 1)]" style="margin: 10px">Prochain chapitre</button>
<button type="button" class="btn btn-outline-success" *ngIf="!premierModule && dernierChapitre" [routerLink]="['/qcm/', idCours, idModule]"style="margin: 10px">Accéder au QCM</button>


<!--//Sommaire-->
<div  class="positionFixeEtTaille" style="font-size: 20px;padding: 6px"><b> Sommaire</b>
  <hr>
  <div *ngFor="let module of moduleAndChap " style=" font-size: 14px;margin-bottom: 7px;margin-top: 7px"><b>{{module.intitule}} :</b>
    <div class = "indentation" style="margin-top: 3px; margin-bottom: 3px " *ngFor="let chapitre of module.chapitres" [routerLink]="['/chapitre/', idCours, module.id, chapitre.agencement]"><i class="fa fa-arrow-right" aria-hidden="true"></i>
      {{chapitre.titre}}
    </div>
  </div>
</div>
