<body>
<nav class="navbar navbar-expand-lg navbar-dark static-top fixed-top" style="background-color: black">
  <div class="container">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/cours']">Cours
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']">Tableau de Bord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
      </ul>
    </div>

</nav>
<div class="container-fluid position-fixed " style="height: 5px; width: 100%; background-image: linear-gradient(#747474,rgba(0,0,0,0))">
</div>
<!-- Page Content -->
<div class="container-fluid" style="margin-top:60px; height: 900px">
  <div class="my-3 p-3 rounded box-shadow">
    <div class="row" style="">
      <div class="col-sm-2 justify-content-center container-fluid" style="border-radius: 10px; width: 250px; z-index: 1; background-image: linear-gradient(to top right, rgba(0,0,0,0.67), #d5d5d5); padding-left: 50px; padding-right: 50px; height: 1000px">

          <img src="../assets/img/skeelz_logo.png" class="pointer mt-4" style="width:140px" [routerLink]="['/']">

        <h3>section gauche</h3>
      </div>
      <div class="col-sm-8 justify-content-center align-content-center container-fluid" style="height: 1000px">
        <router-outlet></router-outlet>
      </div>
      <div class="col-sm-2 justify-content-center align-content-center container-fluid" style="height: 1000px">
        <router-outlet name="side"></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- /.container -->
</body>
