<body>
<nav class="navbar navbar-expand-lg navbar-dark static-top fixed-top" style="background-color: black; box-shadow: 0px 5px 2px lightgray">
  <div class="container">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cours']">Cours
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']">Tableau de Bord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
      </ul>
    </div>

</nav>
<!--<div class="container-fluid position-fixed " style="height: 7px; width: 100%; background-image: linear-gradient(#747474,rgba(0,0,0,0)); border-style: solid;">-->
<!--</div>-->
<!-- Page Content -->
<div class="container-fluid" style="margin-top:60px; height: 900px border-style: solid;">
  <div class="my-3 p-3 rounded box-shadow">
    <div class="row" style="">
      <div class="col-sm-2 justify-content-center container-fluid margegauche">

          <img src="../assets/img/skeelz_logo.png" class="pointer mt-4" style="width:140px" [routerLink]="['/home']">

      </div>
      <div class="col-sm-8 justify-content-center align-content-center container-fluid" style="min-height: 900px; height: min-content">
        <a>OUTLET PRINCIPAL</a><router-outlet name="primary"></router-outlet><a>OUTLET PRINCIPAL</a>
      </div>
      <div class="col-sm-2 justify-content-center align-content-center container-fluid " style="min-height: 900px; height: fit-content">
        <p>section droite</p>
        <a>OUTLET SIDE</a><router-outlet name="side"></router-outlet><a>OUTLET SIDE</a>
      </div>
    </div>
  </div>
</div>

<!-- /.container -->
</body>
