<body>
<nav class="navbar navbar-expand-lg navbar-dark static-top fixed-top" style="background-color: black; box-shadow: 0px 5px 2px #505050">
  <div class="container">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cours']">Cours
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']">Tableau de Bord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>

</nav>

<!-- Page Content -->
<div class="container-fluid" style="margin-top:60px; height: 900px border-style: solid;">
  <div class="my-3 p-3 rounded box-shadow">
    <div class="row">
      <div class="col-sm-2 container-fluid margegauche rounded-pill">

          <img src="../assets/img/skeelz_logo.png" class="pointer mt-3" style="width:190px" [routerLink]="['/home']">

      </div>
      <div class="col-sm-8 justify-content-center align-content-center container-fluid" style="min-height: 900px; height: min-content">
        <a></a><router-outlet name="primary"></router-outlet><a></a>
      </div>
      <div  class="col-sm-2 justify-content-center align-content-center container-fluid " style="min-height: 900px; height: fit-content; z-index: -10000">
        <p></p>
        <a></a><router-outlet name="side"></router-outlet><a></a>
      </div>
    </div>
  </div>
</div>

<!-- /.container -->
</body>
