.nav-link{
  font-size: 30px;
  text-shadow: #3c3c3c;
}

.pointer {
  cursor: pointer;
}
body {
  background: url(../assets/img/fondecran.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
