<p>qcm works!</p>

<div *ngFor="let question of currentQuestions">
  <div>{{question.question}} ({{question.nbReponsesJustes}} réponse(s) à fournir)</div>
  <div *ngFor="let reponse of question.reponses">
    <input type="checkbox" [(ngModel)]="reponse.choisi">
    <label>{{reponse.enonce}}</label>
  </div>
</div>

<div *ngIf="tentative">Vous avez eu {{nbReponsesJustes}} réponse(s) juste(s) et {{nbReponsesFausses}} réponse(s) fausse(s) sur {{totalReponsesJustes}} bonnes réponses</div>
<div *ngIf="(nbReponsesJustes == totalReponsesJustes) && nbReponsesFausses == 0">Bravo vous avez réussi le QCM</div>
<button (click)="valider()">Valider</button>
<button *ngIf="(nbReponsesJustes == totalReponsesJustes) && nbReponsesFausses == 0" >Passer au module suivant</button>
