<div>
  <div class="form-inline" style="width: 120%">
    <h3 style="margin-top: 10px" style="width: 30%"> Rédiger un cours -</h3>
    <div style="margin: 10px">{{cours.intitule}}</div>
    <div class="form-group" style="margin: 10px">{{cours.duree}}</div>
    <div class="form-group" style="margin: 10px">{{cours.difficulte}}</div>
  </div>


  <div class="card-body">
    <div class="form-group">
      {{cours.description}}
    <div class="form-group">
      <select class="form-control"  #que (change)="questionCourant($event, que.value)"   >
        <option value="">Question</option>
        <option *ngFor="let quest of questions" [value] = "quest.id" [selected]="quest.id == currentQuestion.id">{{quest.question}} </option>
      </select>
    </div>
    <div class="form-group">
      <button type="button" (click)="nouvelleQuestion()">Nouvelle Question</button>
    </div>
    <div class="form-group">
      <input  [(ngModel)]="currentQuestion.question" type="text" class="form-control" placeholder="Ecrivez votre question">
    </div>
    <div *ngIf="currentQuestion.question!=null">
    <br>

      <div class="form-group" *ngFor="let reponse of currentQuestion.reponses ">

        <div >
          <textarea [(ngModel)]="reponse.enonce" class="form-control textareatitle" placeholder="Entrer votre titre" style="width: 100%"></textarea>
          <br>
        </div>

<!--    <textarea [(ngModel)]="currentElement.titre" class="form-control textareatitle" type="text"  placeholder="Entrer votre titre"></textarea>-->
<!--    <textarea [(ngModel)]="currentElement.texte" type="text" class="form-control textarea" placeholder="Entrer votre texte"></textarea>-->
<!--    <br>-->
<!--    <div class="form-group">-->
<!--      <button type="button" (click)="enregistrerEvent()">Enregistrer l'élèment</button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div *ngIf="currentElement.type  === 'Image'">-->
<!--    <input  type="file" class="form-control" placeholder="Choisissez votre image">-->
<!--    <input  type="text" class="form-control" placeholder="Entrer votre texte">-->
<!--    <br>-->
<!--    <div class="form-group">-->
<!--      <button type="button" (click)="enregistrerEvent()">Enregistrer l'élèment</button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div *ngIf="currentElement.type  === 'ExtraitCode'">-->
<!--    <input [(ngModel)]="currentElement.chemin" type="text" class="form-control" placeholder="Entrer votre titre">-->
<!--    <input [(ngModel)]="currentElement.commentaire" type="text" class="form-control" placeholder="Entrer votre texte">-->
<!--    <br>-->
<!--    <div class="form-group">-->
<!--      <button type="button" (click)="enregistrerEvent()">Enregistrer l'élèment</button>-->
<!--    </div>-->
  </div>
      <textarea [(ngModel)]="currentReponse.enonce" class="form-control textareatitle" placeholder="Entrer votre titre" style="width: 100%"></textarea>
      <div class="form-group">
        <button type="button" (click)="enregistrerReponse()">Enregistrer l'élèment</button>
      </div>
  </div>
  </div>
  </div>
<!--  <div>-->
<!--    <div class="btn-group btn-group-lg float-right">-->
<!--      <a class="btn btn-success" >-->
<!--        <i class="fa fa-check" (click)="save(cours, currentModule, currentChapitre, elementDeCours)"> Enregistrer</i>-->
<!--      </a>-->
<!--      <a class="btn btn-warning" >-->
<!--        <i class="fa fa-undo" (click)="saveValidate(cours, currentModule, currentChapitre, elementDeCours)">Soumettre pour vérification</i>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
</div>
