.back3,.back4,.back6,.back7,.back8,.back9{position: absolute}

#listcours{
  background-color: gray;
  position: relative;
  margin-top: 20px;
}
.form1{
  position: relative;
  margin-top:20px;
}
.select1{
  position: absolute;
  width: 14%;
  left: 0;
}
.select2{
  position: absolute;
  width: 22%;
  left: 17%;
}

.select3{
  position: absolute;
  width: 15%;
  left: 42%;
}
.input1{
  position: absolute;
  width: 20%;
  left: 60%
}
.buttonsub{
  position: absolute;
  left: 85%;

}
.back1 {
  background-color: rgb(230, 230, 230);
  margin-top: 10px;
  height: 180px;
  position: relative;
  top: 80px;
  width: 100%;
  border-radius: 10px;
}
.back2 {
position: relative;

  vertical-align: middle;
  top:8%;
  left: 1%;
  bottom :8%;
  width: 15%;
height: 84%;


}
.back3 {
top : 8%;
 left: 17%;
  width: 30%;


}
.back4 {
  top: 28%;
  left: 17%;
  height: 66%;
  width: 81.5%;
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  padding: 8px;
}
.back6 {
  position: absolute;
  top: 8%;

  width: 25%;
  left : 48%
}

.back7 {
  left :75%;
  top: 8%;

  width: 25%;
}

.back5{
  top: 10%;

  margin: 10px;
}
.box:hover {
  box-shadow: 0 0 11px rgba(63, 240, 147, 0.65);
}
div{
  display: block;
}
.back8 {
  top:8%;
  left: 1%;
  bottom :8%;
  width: 15%;
  height: 84%;

}

.back9 {
  top:8%;
  left: 1%;
  bottom :8%;
  width: 15%;
  height: 84%;
}
.Img{

  width: 100%;
  height: auto;
position: absolute;              /* 2 */
  top: 50%;                         /* 3 */
  transform: translate(0, -50%);
  border-radius: 10px;
}

.pointer{
  cursor: pointer;
}
.ombre{
  box-shadow: 2px 2px 2px #505050;
}
