.back3,.back2,.back4,.back6,.back7{position: absolute}

#listcours{
  background-color: gray;
  position: relative;
  margin-top: 20px;
}
.form1{
  position: relative;
  margin-top:20px;
}
.select1{
  position: absolute;
  width: 14%;
  left: 0;
}
.select2{
  position: absolute;
  width: 22%;
  left: 17%;
}

.select3{
  position: absolute;
  width: 15%;
  left: 42%;
}
.input1{
  position: absolute;
  width: 20%;
  left: 60%
}
.buttonsub{
  position: absolute;
  left: 85%;

}
.back1 {
  background-color: orange;
  margin-top: 10px;
  height: 180px;
position: relative;
  top: 80px;
  width: 100%;
}
.back2 {
  background-color: purple;

  top:8%;
  left: 1%;
  bottom :8%;
  width: 15%;
height: 84%;
}
.back3 {
top : 8%;
 left: 17%;
  width: 30%;
  background-color: yellow;

}
.back4 {
  top: 28%;
  left: 17%;
  height: 66%;
  width: 80%;
  background-color: red;
}
.back6 {
  position: absolute;
  top: 8%;
  background-color: lightblue;
  width: 20%;
  left : 48%
}

.back7 {
  left :75%;
  top: 8%;
  background-color: skyblue;
  width: 15%;
}

.back5{
  top: 10%;
  background-color: gray;
  margin: 10px;
}
