
<div id="listcours"></div>
  <div>
    <h4> Cours :</h4>
  </div>
<div class="form1">
  <select class="form-control select1">
    <option selected>Difficultée</option>
    <option *ngFor="let dif of list2()"[(ngModel)]="difficulte" >{{dif}}</option>
  </select>
  <select class="form-control select2">
    <option>Durée</option>
    <option>Ordre croissant</option>
    <option>Ordre décroissant</option>
  </select>
  <input type="text" class="form-control input1" placeholder="Recherchez par nom" [(ngModel)]="valeur">
<!--  <button type="button" class="btn btn-light buttonsub">Recherchez</button>-->
</div>

<div *ngFor="let cour  of list()" [routerLink]="['/sommaire/'+cour.id]" class=" back1">
    <div class="back2 ">{{cour.cheminImageCours}} </div>
    <div class="back3 "><h6>{{cour.intitule}} </h6></div>
    <div class="back6"><i class="far fa-clock"></i> Durrée : {{cour.duree}} Heures</div>
    <div class="back4 ">{{cour.description}}   </div>
    <div class="back7 ">Niveau : {{cour.difficulte}} </div>
  </div>


