<div class="card mt-3">
  <div class="card-header bg-info text-white">
    <h3>Création d'un cours</h3>
  </div>

  <div class="card-body">
    <div class="form-group">
      <label for="nom">Intitulé du cours</label>
      <input type="text" class="form-control" id="nom" >
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="prenom" placeholder="Description du cours">
    </div>
    <div class="form-group">
      <select class="form-control" id="niveauEtude" >
        <option value="">Module</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="prenom" placeholder="Intitulé du module courant">
    </div>
    <div class="form-group">
      <select class="form-control" id="niveauEtude" >
        <option value="">Chapitre</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="prenom" placeholder="Intitulé du chapitre courant">
    </div>
    <div class="form-group">
      <label for="email">Courriel:</label>
      <input type="text" class="form-control" id="email" >
    </div>
    <div class="form-group">
      <label for="telephone">Téléphone:</label>
      <input type="text" class="form-control" id="telephone" >
    </div>
    <div class="form-group">
      <label for="dtNaissance">Date de naissance:</label>
      <input type="date" class="form-control" id="dtNaissance" >
    </div>
    <div class="form-group">
      <label for="niveauEtude">Niveau d'étude:</label>
      <select class="form-control" id="niveauEtude" >
        <option value="">Choisir un niveau d'étude</option>
        <option value="BAC">Bac</option>
        <option value="BAC_2">Bac + 2</option>
        <option value="BAC_3">Bac + 3</option>
        <option value="BAC_5">Bac + 5</option>
        <option value="BAC_8">Bac + 8</option>
      </select>
    </div>
    <div class="form-group">
      <label for="rue">Rue:</label>
      <input type="text" class="form-control" id="rue" >
    </div>
    <div class="form-group">
      <label for="complement">Complément:</label>
      <input type="text" class="form-control" id="complement">
    </div>
    <div class="form-group">
      <label for="codePostal">Code postal:</label>
      <input type="text" class="form-control" id="codePostal">
    </div>
    <div class="form-group">
      <label for="ville">Ville:</label>
      <input type="text" class="form-control" id="ville" >
    </div>
    <!--    <div class="form-group">-->
    <!--      <label for="evaluation">Evaluation:</label>-->
    <!--      <select class="form-control" id="evaluation">-->
    <!--        <option value="">Choisir une evaluation</option>-->
    <!--        <option></option>-->
    <!--      </select>-->
    <!--    </div>-->
  </div>

  <div class="card-footer">
    <div class="btn-group btn-group-lg float-right">
      <a class="btn btn-success" >
        <i class="fa fa-check"></i>
      </a>
      <a class="btn btn-warning" >
        <i class="fa fa-undo"></i>
      </a>
    </div>
  </div>

</div>

