<div class="container-fluid">
  <div style="font-size: x-large; font-family: 'Candara'; font-weight:bolder; color: darkcyan">Liste des Utilisateurs :</div>
  <br>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Identifiant</th>
      <th>Email</th>
      <th>RH</th>
      <th>Admin</th>
      <!--      <th>SuperAdmin</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let utilisateur  of list()" [routerLink]="['/utilisateur']">
      <td>{{utilisateur.identifiant}}</td>
      <td>{{utilisateur.mail}}</td>
      <td><i *ngIf="utilisateur.rh==true" class="fa fa-check"></i><i *ngIf="utilisateur.rh==false" class="fa fa-times"></i></td>
      <td><i *ngIf="utilisateur.administrateur==true" class="fa fa-check"></i><i *ngIf="utilisateur.administrateur==false" class="fa fa-times"></i></td>
      <!--      <td><i *ngIf="utilisateur.superUser==true" class="fa fa-check"></i><i *ngIf="utilisateur.superUser==false" class="fa fa-times"></i></td>-->
    </tr>

    </tbody>
  </table>

</div>

